<form action="/transfer" method="post" enctype="text/plain">
    <input type="hidden" name="_csrf" value=<%= csrfSecret %>>
    <div>
        <label>Money:</label>
        <input type="number" name="Money"/>
    </div>
    <div>
        <label>bank Account:</label>
        <input type="number" name="bankAccount"/><br/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>